body {
    font-family: Arial;
    margin: 0;
    background: #f4f8f4;
}

.hero {
    background: #2f6d3b;
    color: white;
    text-align: center;
    padding: 60px;
}

.main-nav {
    background: #244b2a;
    text-align: center;
    padding: 10px;
}

.main-nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.section {
    padding: 40px;
}

.alt {
    background: #e8f3e8;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.buttons button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.box {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-left: 5px solid green;
}
